*, 
:after, 
:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: inherit;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    background-color: peachpuff;
    color: rgb(121, 79, 43);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    height: 40em;
    background-color: rgb(197, 153, 115);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container.index {
  margin-top: 10em;
  align-items: center;
}

.title {
    font-size: 40px;
    width: 20rem;
}

.links {
    font-size: 30px;
    text-align: right;
}

.links ul {
    list-style-type: none;
}

.container.content {
  background-color: initial;
  margin-top: 1em;
  height: auto;
}

.head-board {
    height: 5rem;
    text-align: center;
    font-size: 40px;
    background-color: rgb(197, 153, 115);
    color: peachpuff;
}

.sub-head-container {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 10px;
}

.sub-head-container img {
    order: 1;
    height: 25rem;
}

.description {
  flex-wrap: wrap;
  flex-direction: column;
}
.description .title {
  text-align: right;
  font-size: 18px;
  width: 100%;
}

.information {
  font-size: larger;
  text-align: right;
  width: 20rem;
}

.recipe {
  display: flex;
  gap: 10px
}

.recipe .title {
  width: fit-content;
}

.ingredient {
  width: fit-content;
  border: 1px solid rgb(121, 79, 43);
  height: fit-content;
  padding: 10px;
}

.ingredient ul,
.ingredient li {
  list-style-type: none;
}

.steps {
  width: fit-content;
}

.steps .information {
  text-align: initial;
}
